.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid lightgray;
    height: 40px;
}

.youtube-icon {
    height: 20px;
    object-fit: contain;
    padding-left: 20px;
}

.user-input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.user-input > input {
    flex: 1;
    border: none;
}

.search-icon {
    width: 50px !important;
    background-color: #fafafa;
    border: 1px solid lightgray;
    color: gray;
}

.icons-right {
    display: flex;
    align-items: center;
}

.icon-right {
    margin-right: 8px;
}
