.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 25px;
}

.sidebarRow__icon {
    color: #606060;
}

.sidebarRow__title {
    flex: 1;
    font-size: 14px;
    margin-left: 20px;
}

.sidebarRow:hover {
    background-color: lightgray;
    cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
    color: red;
}

.sidebarRow.selected {
    background-color: lightgray;
}

.sidebarRow.selected > .sidebarRow__icon {
    color: red;
}
