.tag {
    margin: 10px 5px 10px 10px;
}

.tag__title {
    min-width: 45px;
    font-size: 14px;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid lightgrey;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.tag__title:hover {
    background-color: rgb(229, 229, 229);
}
