.videoCard {
    margin-right: 50px;
    width: 270px;
}

.channel__icon {
    color: #606060;
    margin-top: 10px;
}

.video__title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 8px;
}

.channel__info {
    display: flex;
}
